html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.navbar img {
  height: 2rem;
}

section {
  margin-top: 6.25rem;
  padding: 6rem 0;
}

#welcome {
  margin-top: 4.5rem;
  width: 100%;
  position: relative;
}

#welcome .carousel-caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

#welcome .carousel-caption h1 {
  font-size: 3rem;
  font-weight: 300;
}

#welcome .carousel-caption p {
  font-weight: 300;
  font-size: 1.5rem;
}

@media (min-width: 48rem) {
  #welcome .carousel-caption h1 {
    font-size: 6rem;
    font-weight: 400;
    margin-top: 9.1rem;
  }

  #welcome .carousel-caption p {
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 2px;
  }
}

.carousel-item img {
  width: 100%;
  height: auto;
}

@media (min-width: 48rem) {
  .carousel-item {
    height: 48rem;
  }

  .carousel-item img {
    height: 100%;
    width: 100%;
  }
}

footer {
  background-color: darkgreen;
}
